html, body, .page {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}

.page{
  position: absolute;
  z-index: 2;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  background: #f6f6f6;
}