<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>index</title>
  <script>
    window.WK = {
      wx_confs: {
        appId: '<{$signPackage.appId}>',
        timestamp: '<{$signPackage.timestamp}>',
        nonceStr: '<{$signPackage.nonceStr}>',
        signature: '<{$signPackage.signature}>',
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ','showOptionMenu', 'showAllNonBaseMenuItem', 'previewImage', 'chooseImage','uploadImage','downloadImage','startRecord','stopRecord','onRecordEnd','playVoice','pauseVoice','stopVoice','uploadVoice','downloadVoice', 'hideMenuItems']
      }
    }
  </script>
</head>
<body>
  index.html
  <script src="../dist/main.bundle.js"></script>
</body>
</html>